</body>
<script type="text/javascript" src="/dist/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/dist/js/all.js"></script>
<script type="text/javascript" src="/dist/js/bootstrap.bundle.js"></script>
<script type="text/javascript" src="/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/dist/js/bootstrap.js"></script>
</html>