<%- include('./partials/header.ejs') %>
    <div class="container" id="three">
        <div class="row">
            <div class="col-md-6">
                <img src="img/art.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
                <h3>About Indiana</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere sint dignissimos
                     blanditiis praesentium rem veniam aliquam corrupti cum ea,
                     quo numquam qui ad id debitis excepturi suscipit accusamus sit quasi!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil excepturi deserunt
                     quia sed maiores suscipit molestiae doloremque, corrupti cum 
                    corporis voluptatem consequatur explicabo laborum quas quos itaque, similique est?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil excepturi deserunt
                     quia sed maiores suscipit molestiae doloremque, corrupti cum 
                    corporis voluptatem consequatur explicabo laborum quas quos itaque, similique est?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum nihil excepturi deserunt
                     quia sed maiores suscipit molestiae doloremque, corrupti cum 
                    corporis voluptatem consequatur explicabo laborum quas quos itaque, similique est?
                    corporis voluptatem consequatur explicabo laborum quas quos itaque, similique est?
                    corporis voluptatem consequatur explicabo laborum quas quos itaque, similique est?</p>
            </div>
        </div>
    </div>

<%- include('./partials/footer.ejs') %>